 body{
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     align-content: center;
     background-color: rgb(231, 230, 227);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .container{
     
     padding: 25px;
     width: 80vw;
     height: fit-content;
     padding-bottom: 30px;
     margin: 2vh 10vw 0;
     border-radius: 14px;
     background-color: cadetblue;
     border: 3px solid black;
     box-shadow: 2px 2px 9px black;
 }

 .heading{
     font-size: 3rem;
 }

 label{
     font-size: 1.2rem;
     font-weight: bold;
     
     
 }

 .wage-box{
     margin: 8px 3px 30px;
     width: 40%;
     height: 5vh;
     border-radius: 20px;
     font-size: 1.3rem;
     border: 3px solid black;
     box-shadow: 2px 2px 9px black;

 }

 .submit{
     font-size: 1.1rem;
     background-color: transparent;
     color: black;
     border: none;
     border: 5px solid black;
     width: fit-content;
     letter-spacing: 2;
     height: fit-content;
     border-radius: 20px;
     letter-spacing: 1.2;
     font-weight: bold;
     cursor: pointer;
     margin: 30px 0;
     padding: 8px 40px;
 }

 .submit:hover{
     color: white;
     background-color: black;
     border: 5px solid white;
     border-radius: 20px;

 }


 @media (max-width:800px){

        .heading{
            font-size: 2rem;
        }
    
     .wage-box{
        width: 80%;
     }

     label{
         margin-left: 0;
     }

     .submit{
         margin: 20px 0;
         width: 40%;
         padding: 3px;
     }
 }